/*Header*/
body{
	background-color: lightblue;
	font-family: Arial, sans-serif;
    font-size: 100%;
}
header{
    margin-left: 10px;
    margin-bottom: 35px;
}
h1{
	margin-bottom: 0px;
}
#tagline{
	margin-top: 0px;
	font-size: .9em;
    font-style: italic;
}

/*Navigation bar*/
nav{
    text-align: center;
    border-bottom: 1px solid #6699ff;
}
.pages{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.page{
    display: inline-block;
}
nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background-color: #6699ff;
}

/*Main content*/
.main{
    display: block;
    overflow: auto;
    padding-top: 2.0em;
    padding-bottom: 5.0em;
    line-height: 140%;
    width: 80%;
    margin: 0 auto;
}
img{
    float: left;
    padding-right: 1.1em;
}

#bio{
    float: right;
}
.class{
    clear: both;
}
/*Aside (connect)*/
aside{
    padding-bottom: 2.0em;
    border-top: 1px solid #6699ff;
}
aside ul{
    list-style-type: none;
}
aside li{
    display: inline-block;
    margin: 0;
    padding: 0;
    
}
aside a{
    display: block;
    padding: .5em;
    border-radius: .5em;
    text-decoration: none;
}
.google{
    background-color: #ff3333;
    color: white;
}
.linkedin{
    background-color: #0077B5;
    color: white;
}
h3{
    font-weight: normal;
    margin-left: 10px;
}

/*Footer*/
footer{
    text-align: center;
}
footer p{
    display: inline;
    padding-top: .5em;
    border-top: 1px solid #6699ff;
}

/*Resume*/
.listing{
    font-weight: bold;
}
.date{ 
    float: right;
    font-weight: bold;
}

/*Contact Form*/
label{
    display: block;
    margin-top: 20px;
}
#contact_me{
    margin: 0 auto;
    width: 500px;
}
form{
    margin: 0 auto;
    width: 500px;
}
.name_email{
    width: 439px;
    height: 27px;
    background: #efefef;
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 3px;
    font-size: 1em;
    color: #3a3a3a;
    border-radius: .5em;
}
.message{
    width: 439px;
    height: 200px;
    background: #efefef;
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 3px;
    font-size: 1em;
    color: #3a3a3a;
    border-radius: .5em;
}
#submit{
    height: 30px;
    width: 120px;
    border-radius: .5em;
    border: none;
    margin-top: 20px;
}

}
